<div [ngClass]="loading ? 'loading' : 'mt-3'" class="ui container form">
  <div class="ui divided items">
    <div *ngFor="let item of repoList" class="ui item">
      <div class="ui tiny image">
        <img [src]="item.owner.avatar_url" alt="avatar of {{item.owner.login}}">
      </div>
      <div class="content">
        <a class="header">{{item.name | titlecase}}</a>
        <div class="description">
          <p>{{item.description}}</p>
        </div>
        <div class="extra d-flex flex-row align-items-center">
          <div class="ui basic label">
            <i class="orange star icon mr-0"></i>
            Star
            <div class="detail h-6">{{item.stargazers_count}}</div>
          </div>
          <div class="ui basic label">
            <i class="red icon exclamation circle mr-0"></i>
            Issues
            <div class="detail">{{item.open_issues_count}}</div>
          </div>
          <div class="submission">Submitted {{getTimeInterval(item.updated_at)}} ago by {{item.owner.login}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="repoList.length > 0" class="d-flex flex-row justify-content-around mt-3 pb-3">
    <div (click)="doPagination(false)" [ngClass]="currentPage < 2 ? 'disabled' : ''" class="ui orange animated button" tabindex="1">
      <div class="visible content">Previous</div>
      <div class="hidden content">
        <i class="left arrow icon"></i>
      </div>
    </div>

    <div (click)="doPagination(true)" [ngClass]="currentPage * repoList.length > 1000 ? 'disabled' : ''" class="ui violet animated button"
         tabindex="0">
      <div class="visible content">Next</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div>
</div>
